.playarea
{
 width: 70%;
 height: 80vh;
 float: left;
 box-shadow: inset 0 5px 5px -5px rgba(0,0,0,0.1);
 background: linear-gradient(#fff,#f2f2f2) #ccc;
}
.scoreboard
{
 width: 30%;
 height: 80vh;
 float: left;
}
